if SHIELD_CORAX56_LEFT

config ZMK_KEYBOARD_NAME
    default "Corax56"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORAX56_LEFT || SHIELD_CORAX56_RIGHT

config ZMK_SPLIT
    default y

endif
