if SHIELD_CORAX56_LEFT

config ZMK_KEYBOARD_NAME
    default "Corax56"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
	default y

endif # SHIELD_CORAX56_LEFT

if SHIELD_CORAX56_LEFT || SHIELD_CORAX56_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BLE
	default y

endif # SHIELD_CORAX56_LEFT || SHIELD_CORAX56_RIGHT
