/*
 * Copyright (c) 2020 Ryan Cross
 *
 * SPDX-License-Identifier: MIT
 */

#include "sofle_dongle.dtsi"

&pro_micro_i2c {
    status = "disabled";
};

&right_encoder {
    status = "disabled";
};

&left_encoder {
    status = "disabled";
};
