#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/lily58.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

// Define the corax56 extra keys
#define X_LM1_W &kp LA(ESC)
#define X_RM1_W &kp RA(ESC)

// Source the main keymap
#include "base58ish.keymap"

