#include <dt-bindings/zmk/keys.h>

// Fix CS pin for zmk-defined solfe board
#if SHIELD_SOFLE_LEFT || SHIELD_SOFLE_RIGHT
&nice_view_spi { cs-gpios = <&pro_micro 0 GPIO_ACTIVE_HIGH>; };
#endif

// Define the solfe extra keys
#define X_LT &hm_l TILDE ESC
#define X_LH &kp LALT
#define X_RT &kp BACKSPACE
#define X_LH &kp RALT

// Source the main keymap 
#include "base58ish.keymap"
