# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SPLITREUS50_LEFT
    def_bool $(shields_list_contains,splitreus50_left)

config SHIELD_SPLITREUS50_RIGHT
    def_bool $(shields_list_contains,splitreus50_right)