/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
 
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define _DEFAULT 0
#define _QWERTY 1
#define _SYMB 2
#define _DIR 3
#define _ALT1 4

#define RESET &reset
#define BOOTLDR   &bootloader
#define CTLENT    &mt LCTL ENTER
#define MOALT1    &mo _ALT1
#define TGQW      &tog _QWERTY
#define BTCLR     &bt BT_CLR
#define BTNXT     &bt BT_NXT
#define BTSEL0    &bt BT_SEL 0
#define BTSEL1    &bt BT_SEL 1

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
&kp ESC   &kp Q      &kp W      &kp F      &kp P      &kp G                            &kp J      &kp L      &kp U      &kp Y     &kp SEMI    &kp SQT
CTLENT    &kp A      &kp R      &kp S      &kp T      &kp D                            &kp H      &kp N      &kp E      &kp I     &kp O       CTLENT
&kp LSHFT &kp Z      &kp X      &kp C      &kp V      &kp B                            &kp K      &kp M      &kp COMMA  &kp DOT   &kp FSLH    &kp RSHFT
MOALT1    &kp LCTL   &kp LALT   &kp LGUI   &mo _DIR   &kp SPACE  &kp TAB    &kp DEL    &kp BKSP   &mo _SYMB  &kp RGUI   &kp RALT  &kp RCTL    MOALT1
													  			  &kp C_MUTE  &kp C_SLEEP
			>;

		sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN &inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
		};
		
		qwerty {
			bindings = <
&trans    &trans     &trans     &kp E      &kp R      &kp T                            &kp Y      &kp U      &kp I      &kp O      &kp P    &trans
&trans    &trans     &kp S      &kp D      &kp F      &kp G                            &trans     &kp J      &kp K      &kp L      &kp SEMI &trans
&trans    &trans     &trans     &trans     &trans     &trans                           &kp N      &trans     &trans     &trans     &trans   &trans
&trans    &trans     &trans     &trans     &trans     &trans    &trans     &trans      &trans     &trans     &trans     &trans     &trans   &trans
																   &trans   &trans
			>;
		};
		
		symb {
			bindings = <
&trans    &kp EXCL   &kp AT     &kp LBRC   &kp RBRC   &kp PIPE                         &kp EQUAL  &kp N7     &kp N8     &kp N9     &kp ASTRK  &trans
&trans    &kp HASH   &kp DLLR   &kp LPAR   &kp RPAR   &kp GRAVE                        &kp MINUS  &kp N4     &kp N5     &kp N6     &kp PLUS   &trans
&trans    &kp PRCNT  &kp CARET  &kp LBKT   &kp RBKT   &kp TILDE                        &kp AMPS   &kp N1     &kp N2     &kp N3     &kp BSLH   &trans
&trans    &trans     &trans     &trans     &trans     &trans    &trans     &trans      &trans     &trans     &kp N0     &kp DOT    &trans     &trans
																   &trans     &trans
			>;
		};

		dir {
			bindings = <
&trans    &trans     &kp HOME   &kp UP      &kp END    &kp PG_UP                        &trans     &kp F7     &kp F8     &kp F9     &kp F10   &trans
&trans    &trans     &kp LEFT   &kp DOWN    &kp RIGHT  &kp PG_DN                        &trans     &kp F4     &kp F5     &kp F6     &kp F11   &trans
&trans    &trans     &trans     &trans      &trans     &trans                           &trans     &kp F1     &kp F2     &kp F3     &kp F12   &trans
&trans    &trans     &trans     &trans      &trans     &trans   &trans     &trans       &trans     &trans     &trans     &trans     &trans    &trans
																    &trans    &trans
			>;
		};

		alt1 {
			bindings = <
&trans    &trans     BTNXT      BTSEL0      BTSEL1    &trans                            &trans     &trans     &trans     &trans     &trans   &trans
&trans    &trans     &trans     &trans      &trans    &trans                            &trans     &trans     &trans     &trans     &trans   &trans
&trans    &trans     &trans     &trans      &trans    &trans                            &trans     &trans     &trans     &trans     &trans   &trans
&trans    &trans     &trans     &trans      &trans    &trans    TGQW       &trans       &trans     &trans     &trans     &trans     &trans   &trans
																    BTCLR    &trans
			>;
		};
  };
};

